/* *{      box-sizing: border-box;    } */
body{
  font-family: 'Nunito',sans-serif;
  color: #384047;
  text-align:center;
}

h1 {
  text-align: center;
  margin: 0 0 30px 0;
} 
legend{
  display: block;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 600;
}


input[type="text"],input[type="text"],input[type="email"], input[type="password"],textarea,select{
  background: rgba(255,255,255,0.1);
  border:none;
  font-size: 24px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 30%;
  background-color:#e8eeef;
  color:#8a97a0;
  box-shadow:0 0px 0 rgba(0,0,0,0.3) inset;
  margin-bottom:30px;
  float:center;
 
}
input:focus,textarea:focus{
  box-shadow: 0 0 5px rgba(81,203,238,1);
  border: 1px solid rgba(81,203,238,1)
}


fieldset{
  margin-bottom: 30px;
  border: none;
}

button[type="reset"]{
  color: white;
background: #15CD72;
border: 0;
font-weight: 600;
font-size: 17px;
text-align: center;
cursor: pointer;
margin-bottom: 0;
height: auto;
border-radius: 5px;
width:33%;
padding:19px 39px 18px 30px;
float: left;

}
button[type="view"]{
  color: white;
background: #15CD72;
border: 0;
font-weight: 600;
font-size: 17px;
text-align: center;
cursor: pointer;
margin-bottom: 0;
height: auto;
border-radius: 5px;
width:33%;
padding:19px 39px 18px 30px;
float: bottom;

}

